{% extends "bootstrap/base.html" %}

{% block title %}
    Dear Lord we're behind schedule
{% endblock %}

{% block content %}
    {{ super() }}
    <main role="main" id="banner">
        <div class="container text-center top30">
            <h1>"Esskeettit"</h1>
            <p class="lead">This is what happens when Musixmatch breaks >:(</p>
        </div>
        <div class="center-block container text-center container-margin-top">

        </div>
    </main>
{% endblock %}