{% extends "bootstrap/base.html" %}

{% block title %}
    ECHacks 2018
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='addons.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Help Finder thing </a>
    </nav>
{% endblock %}
{% block content %}
      </div id="scrollbar">
      <input type="text"/>
      <datalist id="cars">
      <option>Soup Kitchens and Food Banks</option>
      <option>Safe Injection Facilities </option>
      <option>Homeless Shelters:</option>
      <option>Residential Treatment Program</option>
      <option>Women Shelters</option>
      <option>Youth Shelters</option>
      <option>Mental Health Institutions</option>
      </datalist>
      </div>

{% endblock %}
{% block content %}
    <div id="mapid"></div>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
{% endblock %}
