{% extends "custom_base.jinja2" %}

{% block title %}
    Oh Boy
{% endblock %}

{% block content %}
    {{ super() }}
    <main role="main" id="banner">
        <div class="container text-center top30">
            <h1>Test Headline</h1>
            <p class="lead">What's a hackathon</p>
        </div>
        <div class="center-block container text-center container-margin-top">

        </div>
    </main>
{% endblock %}